
<link rel='stylesheet' type='text/css' href='<?smarty $smarty.const.FULLCAL_URL ?>/style/customstyles.css' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<div id="cloud_wrap">
	<span style="font-weight:bold;font-size:10pt;">Wordcloud </span>
	<div  style="display:block;clear:right;">

	<?smarty foreach from=$cloud key=tag item=i ?>
		<div class="tagcloud">
			<span style="font-size:<?smarty $i.size ?>pt;line-height:24px;">
				<span tag="<?smarty $tag ?>" class="tagitem" style="text-decoration:none;color:<?smarty $i.color ?>" ><?smarty $tag ?><?smarty if $smarty.const.SHOW_COUNTS ?>(<?smarty $i.count ?>)<?smarty /if ?></span>
			</span>
		</div>
	<?smarty /foreach ?>
	</div>
</div>
<div id="back_to_cloud" style="display:none;text-decoration:underline;">Back to cloud <img src="<?smarty $smarty.const.FULLCAL_URL ?>/images/go-back.png" /></div><br />
<div id="cloud_results" style="display:none;"></div>

<script type='text/javascript'>
	function alertSize() {
  var myHeight = 0;
  if (typeof (parent.window.innerWidth) == 'number') {
    //Non-IE
    myHeight = parent.window.innerHeight;
  } else if (parent.document.documentElement
    && (parent.document.documentElement.clientWidth || parent.document.documentElement.clientHeight)) {
    //IE 6+ in 'standards compliant mode'
    myHeight = parent.document.documentElement.clientHeight;
  } else if (parent.document.body && (parent.document.body.clientWidth || parent.document.body.clientHeight)) {
    //IE 4 compatible
    myHeight = parent.document.body.clientHeight;
  }
  //window.alert( 'Height = ' + myHeight );
  return myHeight;
}

function AssignFrameHeight() {
  var theFrame = $("#ifrm", parent.document.body);
  var frameHeight1 = getIframeHeight('ifrm');
  var frameHeight2 = $(document.body).height();
  if ($(document.body)[0]) {
    if ($(document.body)[0].bottomMargin)
      frameHeight2 += Number($(document.body)[0].bottomMargin);
    if ($(document.body)[0].topMargin)
      frameHeight2 += Number($(document.body)[0].topMargin);
  }
  if (frameHeight1 > frameHeight2) {
    theFrame.height(frameHeight1 - 20);
  } else {
    if ($.browser.msie)
      theFrame.height(frameHeight2);
    else
      theFrame.height(frameHeight2 + 50);
  }
}

function getIframeHeight(iframeName) {
  //var iframeWin = window.frames[iframeName];
  var iframeEl = parent.document.getElementById
    ? parent.document.getElementById(iframeName)
    : parent.document.all
      ? parent.document.all[iframeName]
      : null;
  if (iframeEl) {
    iframeEl.style.height = "auto"; // helps resize (for some) if new doc shorter than previous
    //var docHt = getDocHeight(iframeWin.document);
    // need to add to height to be sure it will all show
    var h = alertSize();
    //var new_h = (h - 148);
    //iframeEl.style.height = h + "px";
    return h - 147;
    //alertSize();
  }
}

		$('.tagitem').click(function(t){

        	$.ajax({
				type:"POST",
				url: "<?smarty $smarty.const.FULLCAL_URL ?>/?action=get_tag&uid=<?smarty $smarty.get.uid ?>",
				data: {
					tag: $(this).attr('tag')
				},
				dataType: 'json',
				success:function(result){
					$('#cloud_wrap').hide();
					$('#cloud_results').show();
					$('#back_to_cloud').show();
					$('#cloud_results').html(result);
				}
	        });
		});

		$('#back_to_cloud').click(function(t){
			$('#cloud_results').hide();
        	$('#cloud_wrap').show();
        	$('#back_to_cloud').hide();

		});

		$(document).ready(function() { // jQuery
		  AssignFrameHeight();
		});
	</script>