<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <title>Import users</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form id="file_upload_form">
                <table>

                    <tr>
                      <td colspan="2">Add a file</td>
                    </tr>
                    <hr />
                    <tr>
                      <th>Select File </th>
                      <td><input name="file" type="file" id="select_file_field" /></td>
                    </tr>
                    
                    <tr>
                      <td colspan="2">
                          <input type="hidden" name="upload_event_id" id="upload_event_id" value="" />
                        <input type="submit" value="submit"/> 
                      </td>
                    </tr>

                </table>
            </form>
    </body>
</html>
